<!DOCTYPE html>
<html>

<head>
	<title>Confirm your email- If in case we need to confirm user email address</title>
	<meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
</head>

<body
	style="background-color:#f4f6f8; margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 26px">
	<table cellspacing="0" cellpadding="0" align="center" style="width: 100%">
		<tr>
			<td
				style="background-color:#f4f6f8; margin: 0; padding: 50px 25px; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 26px">
				<table class="main-table-wrapper" cellspacing="0" cellpadding="0" align="center" style="width: 800px">
					<!-- <tr>
						<td style="padding:0px 0 20px 0">
							<a href="https://www.builderfly.in/"><img src="https://cdn.builderfly.com/newsletter/logo.png"></a>
						</td>
					</tr> -->
					<tr>
						<td>
							<table cellspacing="0" cellpadding="0" style="width: 100%">
								<tr>
									<td
										style="padding: 8%; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 26px; background: #ffffff">
										<table cellspacing="0" cellpadding="0" style="width: 100%">
											<tr>
												<td style="height: 35px;"></td>
											</tr>
											<tr>
												<td
													style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 26px;">
													User Email : <%=email_address%></td>
											</tr>
											<tr>
												<td style="height: 30px;"></td>
											</tr>
											<tr>
												<td
													style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 26px;">
													User Password : <%=password%></td>
											</tr>
											<tr>
												<td style="height: 30px;"></td>
											</tr>
											<tr>
												<td
													style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 26px;">
													User Phone : <%=contact_number%></td>
											</tr>
											<tr>
												<td style="height: 30px;"></td>
											</tr>
											<tr>
												<td
													style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 26px">
													Cheers!</td>
											</tr>
											<tr>
												<td
													style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 26px">
													The Digitutation Team </td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>

					<tr>
						<td style="height: 30px;"></td>
					</tr>
					<tr>
						<td>
							<table cellspacing="0" cellpadding="0" style="width: 100%">
								<tr>
									<td
										style="width: 68%;font-size: 14px;line-height: 21px;color: #666; vertical-align: middle;font-family: Arial, Helvetica, sans-serif;">
										You're receiving this email because you signed up for a Builderfly account. If
										you wish to be removed from our email list, <a href="https://www.builderfly.in/"
											style="text-decoration: underline;color: #666"> unsubscribe.</a></td>
									<td align="right" style="vertical-align: middle;">
										<a href="https://www.builderfly.in/"><img
												src="https://cdn.builderfly.com/newsletter/fb.png"></a>
										<a href="https://www.builderfly.in/"><img
												src="https://cdn.builderfly.com/newsletter/tweet.png"></a>
										<a href="https://www.builderfly.in/"><img
												src="https://cdn.builderfly.com/newsletter/insta.png"></a>
									</td>
								</tr>
							</table>
						</td>
					</tr>

				</table>
			</td>
		</tr>
	</table>

</body>

</html>